/*------------------------------------*\
    HEADER.CSS
\*------------------------------------*/
/**
 *
 * This is CSS specific to the header module.
 *
 */

.header {
	//background-color: white;
	//border-bottom: 1px solid #dee0e3;
	background-image: url(../assets/bg-01.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	width: 100%;
	height: 600px;
	//height: 100px;

	text-align: center;
	//overflow: hidden;
}

.header--nav {
	font-family: "brandon-grotesque", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;

	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

	a {
		color: #f33b6f;
		text-decoration: none;
		font-size: 12px;
	}

}

.header--nav-left {
	margin-top: 30px;
	margin-left: 0;
	float: left;
	display: inline-block;

	li {
		float: left;
		margin-right: 30px;
		list-style-type: none;
	}
}

.header--nav-right {
	margin-top: 30px;
	margin-left: 0;
	float: right;
	display: inline-block;

	li {
		float: left;
		margin-left: 30px;
		list-style-type: none;
	}
}

.header--logo {
	margin-bottom: 0;
}
