/*------------------------------------*\
    SECTIONS.CSS
\*------------------------------------*/
/**
 * Layout styles for the different page sections.
 */

.section--wrapper {
	margin-bottom: 50px;
}

.section--wrapper-gray {
	margin-bottom: 50px;
	background-color: #eff0f1;
}

.section--wrapper-grayb {
	background-color: #eff0f1;
}

.section--wrapper-map {
	margin-top: -50px;
	padding-top: 40px;
	background-image: url(../assets/bg-mapbw.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
}

.section--wrapper-sd {
	background-image: url(../assets/bg-sdbw.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right center;
}

.section--content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

}

.section--content-one {
	margin-top: -170px;
}

.section--content-two {
	padding-top: 30px;
	padding-bottom: 30px;

	text-align: center;
}


/* Styles for the Wedding Party Section */

.headshot {
	margin-top: 20px;
	border-radius: 1000px;
	display: inline-block;
}

.headshot-name {
	font-size: 20px;
	font-family: "adelle", serif;
	color: #3E1335;
	margin-bottom: 2px;
}

.headshot-tagline {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #746e72;
	font-family: "brandon-grotesque", sans-serif;
}

/* RSVP Styles */

.input--default {
	width: 100%;
	border: none;
	padding: 12px 15px;
	background-color: #dddddd;
	outline: none;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.input--default:focus {
	background-color: white;
}

.invisible {
	display: none;
}

.rsvp-button {
	padding: 8px 15px;
	background-color: #1d1b40;
	display: inline-block;
}
.rsvp-button:visited { background-color: #1d1b40; }
.rsvp-button:hover { background-color: #423f6b; }
.rsvp-button:active { background-color: #1d1b40; }

.flag {
    display: table;
    width: 100%;
}

    .flag__image,
    .flag__body {
        display: table-cell;
        vertical-align: middle;

        .flag--top & {
            vertical-align: top;
        }

        .flag--bottom & {
            vertical-align: bottom;
        }

    }

    .flag__image {
        padding-right: 10px;

        > img {
            display: block;
            max-width: none;
        }

        .flag--rev & {
            padding-right: 0;
            padding-left: 10px;
        }

    }

    .flag__body {
        width: 100%;
    }
