/*------------------------------------*\
    SECTIONS.CSS
\*------------------------------------*/
/**
 * Layout styles for the different page sections.
 */

.section--wrapper {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

}

.section--wrapper-one {
	margin-top: -170px;
}
